{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "parser": "babel"
}